body {
    background-color: #0d0d32;
}
.head {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
.pass {
    flex-direction: column;
    text-align: center;
}
.card {
    border-radius: 30px;
    height: 350px;
  
}
.img {
    display: flex;
    flex-direction: column;
   
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 50px;
   
    
}
.cloud {
    font-size: 90px;
    align-items: center;
    padding-top: 15px;
    
}
p {
    font-size: 13px;
    margin-left: 10px;
}